---
import { contactDetails } from '../data/config';

const currentYear = new Date().getFullYear();
---

<footer class="bg-white mt-12">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div>
        <h3 class="text-sm font-semibold text-gray-600 tracking-wider uppercase">Contact</h3>
        <ul class="mt-4 space-y-4">
          <li>
            <a href=`${contactDetails.phone.href}` class="text-base text-gray-500 hover:text-gray-900 transition-colors duration-200">
              {contactDetails.phone.label}
            </a>
          </li>
          <li>
            <a href=`${contactDetails.email.href}` class="text-base text-gray-500 hover:text-gray-900 transition-colors duration-200">
              {contactDetails.email.label}
            </a>
          </li>
          <li>
            <p class="text-base text-gray-500">KvK: {contactDetails.kvk}</p>
            <p class="text-base text-gray-500">BTW-ID: {contactDetails.btw}</p>
            <p class="text-base text-gray-500">IBAN: {contactDetails.iban}</p>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-sm font-semibold text-gray-600 tracking-wider uppercase">Navigatie</h3>
        <ul class="mt-4 space-y-4">
          <li>
            <a href="/" class="text-base text-gray-500 hover:text-gray-900 transition-colors duration-200">
              Home
            </a>
          </li>
          <li>
            <a href="/toiletwagens" class="text-base text-gray-500 hover:text-gray-900 transition-colors duration-200">
              Toiletwagens
            </a>
          </li>
          <li>
            <a href="/over-ons" class="text-base text-gray-500 hover:text-gray-900 transition-colors duration-200">
              Over ons
            </a>
          </li>
          <li>
            <a href="/contact" class="text-base text-gray-500 hover:text-gray-900 transition-colors duration-200">
              Contact
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-sm font-semibold text-gray-600 tracking-wider uppercase">Locatie</h3>
        <div class="mt-4 space-y-4 text-base text-gray-500">
          <a href=`${contactDetails.address.href}` target="_blank"><p class="text-gray-500 hover:text-gray-900 transition-colors duration-200">
            {contactDetails.address.street}<br />
            {contactDetails.address.postalCode} {contactDetails.address.city}
          </p></a>
          <div>
            <p class="font-medium">Werkplaats:</p>
            <a href=`${contactDetails.visitAdress.href}` target="_blank"><p class="text-gray-500 hover:text-gray-900 transition-colors duration-200">
              {contactDetails.visitAdress.street}<br />
              {contactDetails.visitAdress.postalCode} {contactDetails.visitAdress.city}
            </p></a>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-8 border-t border-gray-200 pt-8">
      <p class="text-base text-gray-400 text-center">
        &copy; {currentYear} Gemak op Wielen. Alle rechten voorbehouden.
      </p>
      <p class="text-base text-gray-400 text-center">
        <a class="hover:text-gray-900 transition-colors duration-200" href="/algemene-voorwaarden" target="_blank">Algemene voorwaarden</a> | <a class="hover:text-gray-900 transition-colors duration-200" href="/privacybeleid" target="_blank">Privacybeleid</a>
    </div>
  </div>
</footer>